/*                        */
/*  entire doc            */
/*  overrides shared css  */
/*                        */

body {font-family: 'Roboto', sans-serif;}

/* ----------------------------- */
/* ------- project files  ------ */
/* ------------ main  ---------- */
/* ----------------------------- */

ul {
  list-style-type: none;
}

/* ----------------------------- */
/* ------- project index  ------ */
/* ------------ main  ---------- */
/* ----------------------------- */

.project-index-container {
  width: 80%;
  margin: 0px auto;
}


.projects-index-pic {
  width: 300px;
  margin: 20px;
}

main {
  width: 100%;
  margin: 0 auto;
}

.project-li {
  width: 700px;
}

.audios {
  padding: 5px;
}

/* ----------------------------- */
/* ------- responsive  ------ */
/* ------- project index  ------ */
/* ------------ main  ---------- */
/* ----------------------------- */

.project-index-container {
  width: 80%;
  margin: 0px auto;
}


/* ----------------------------- */
/* ------- single project  ----- */
/* -------- main  -------------- */
/* ----------------------------- */

.project-section {
  width: 80%;
  margin: 10px auto;
  height: 300px;
  border: 3px solid rgba(53, 210, 255, 1);
}

.project-text {
  width: 400px;
  margin: 15px;
  display: inline-block;
}

.audios {
  clear: both;
}

/* ----------------------------- */
/* ------- this site  ---------- */
/* -------- main  -------------- */
/* ----------------------------- */


.old-design-pic {
  width: 500px;
  float: right;
  margin-right: 15px;
  box-shadow: 10px 10px 5px #888888;
  position: relative;
  top: 20px;
}

.old-design-pic-2 {
  top: -215px;
  right: -40px;
  border: solid thin gray;
}

.projects-index-text {
  float: right;
  height: 100px;
  width: 300px;
  font-size: 1.2em;
}
