/*                        */
/*  entire doc            */
/*  overrides shared css  */
/*                        */

body {font-family: 'Roboto', sans-serif;}

/* ----------------------------- */
/* - shared projects css ------- */
/* -- main --------------------- */
/* ----------------------------- */

main.projects {
  text-align: center;
}

@media screen and (min-width: 600px) {
  main.projects {
    text-align: center;
    margin: auto;
    width: 60%;
  }

  .audios-p {;
    max-width: 600px;
    margin: auto;
  }

  .project-intro {
    max-width: 600px;
    margin: auto;
  }
}

.project-index-container {
  margin: 0px auto;
}

.project-li {
  list-style-type: none;
  max-width: 100%;
  max-width: 680px;
  text-align: center;
  margin: auto;
}

main {
  width: 100%;
  margin: 0 auto;
}

.audios {
  padding: 5px;
}

/* ----------------------------- */
/* ------- project index  ------ */
/* ------------ main  ---------- */
/* ----------------------------- */

.project-index-listing {
  max-width: 100%;
}

.projects-index-text {
  height: 100px;
  width: 300px;
  font-size: 1.5em;
}

@media screen and (min-width: 1165px) {
  .projects-pic {
    margin: 20px;
  }
  .projects-index-text {
    float: right;
  }
}

@media screen and (max-width: 1165px) {
  .projects-index-text {
    margin: auto;
  }
}

ul.project-ul {
  padding: 0px;
}

.projects-index-pic {
  width: 300px;
  margin: 15px;
  max-width: 100%;
}


/* ----------------------------- */
/* ------- single project  ----- */
/* -------- main  -------------- */
/* ----------------------------- */

.project-section {
  width: 80%;
  margin: 20px auto;
  height: 300px;
  max-width: 1000px;
}

.project-text {
  max-width: 400px;
  width: auto;
  margin: 15px;
  display: inline-block;
  font-size: 1em;
  border: 3px solid rgba(53, 210, 255, 1);
  padding: 5px;
}

.audios {
  clear: both;
}

.projects-pic {
  width: 500px;
  margin-right: 15px;
  max-width: 100%;
}


/* ----------------------------- */
/* ------- this site  ---------- */
/* -------- main  -------------- */
/* ----------------------------- */

.old-design-pic {
  width: 500px;
  margin-right: 15px;
}

.old-design-pic-2 {
  border: solid thin gray;
}

/* ----------------------------- */
/* ------- tea leaves ---------- */
/* -------- main  -------------- */
/* ----------------------------- */

@media screen and (min-width: 1165px) {

}
