/*                        */
/*  entire doc            */
/*  overrides shared css  */
/*                        */

body {font-family: 'Roboto', sans-serif;}

/*                  */
/*     main         */
/*                  */

.about-more-ul {padding: 0px}
.about-more-li {list-style-type: none; width: 100%; text-align: center; margin: 10px 0px}
.text-p {margin: 0px auto;}

h4.instructions {
  padding: 20px 40px;
  font-size: 1.1em;
}

section.dbc-sec {
  height: 200px;
}

.about-more-image {
  max-height: 300px;
  max-width: 300px;
}

.text-p {
  visibility: hidden;
  height: 100px;
  width: 300px;
  font-size: 1.3em;
}

.text-p {
  border: 3px solid rgba(53, 210, 255, 1);
  height: auto;
}

.logos-container {
  text-align: center;
}

.logos {
  height: 150px;
}

@media screen and (min-width: 500px) {
  .img-left {
    position: relative;
    right: 15%;
  }
  .img-right {
    position: relative;
    left: 15%;
  }
}
