/*                        */
/*  entire doc            */
/*  overrides shared css  */
/*                        */

body {font-family: 'Roboto', sans-serif;}
main ul {list-style-type: none; padding: 0px;}

/*                  */
/*     main         */
/*                  */

main.about {
  text-align: center;
}

ul, .invite-more-about {
  clear: both;
}

/*                  */
/*     main imgs    */
/*                  */

.window-img {float: left;}
.desk-img {float: right;}

.featured-pics {
  height: 600px;
  width: auto;
  max-width: 100%;
  margin: 15px;
}

/*                  */
/*     main text    */
/*                  */

.about-text {
  border: 3px solid rgba(53, 210, 255, 1);
  height: auto;
  width: 250px;
  text-align: center;
  font-size: 2em;
  display: inline-block;
}

@media screen and (min-width: 750px) {
  .about-text {
    position: relative;
    top: 350px;
  }
}
.about-text {position: relative;}
@media screen and (min-width: 1200px) {.basic-me-text {left: 20%;}.window-text {right: 20%;}}@media screen and (min-width: 1100px) {.basic-me-text {left: 16%;}.window-text {right: 16%;}}
@media screen and (min-width: 1000px) {.basic-me-text {left: 13%;}.window-text {right: 13%;}}
@media screen and (min-width: 900px) {.basic-me-text {left: 9%;}.window-text {right: 9%;}}

@media screen and (max-width: 500px) {
  .featured-pics {
    margin: 0px;
  }
}

/*                  */
/*     asides       */
/*                  */

p.invite-more-about {
  font-size: 1.5em;
  text-align: right;
  padding: 50px;
}

p.invite-more-about a {
  color: red;
}
