/*                      */
/*     entire doc       */
/*                      */

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
}

html {
  margin-bottom: 80px;
}

a {
  text-decoration: none;
}
/*                  */
/*     header       */
/*                  */

header {
  width: auto;
  height: 70px;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: rgba(53, 210, 255, 1);
  margin: -10px -10px 0 -10px;
}

.header-links {
  color: white;
  font-size: 3.2em;
  font-weight: 500;
}

.header-nav-li {
  display: inline;
  padding: 0px 10px;
}

.home-link {
  position: absolute;
  left: 10%;
}

.about-link {
  position: absolute;
  left: 35%;
}

.projects-link {
  position: absolute;
  left: 60%;
}

.blog-link {
  position: absolute;
  left: 85%;
}

/*                  */
/*     main         */
/*                  */

h4.instruct {
  padding: 20px 40px;
  font-size: 1.1em;
}

section {
  display: block;
  max-width: 700px;
  height: 350px;
  margin: 0px auto;
  clear: both;
}

section.dbc-sec {
  height: 200px;
}

.about-more-image {
  max-height: 300px;
  max-width: 300px;
  display: inline;
}

.text-p {
  display: none;
  height: 100px;
  width: 300px;
  font-size: 1.3em;
}

.img-left {
  float: left;
  margin-left: auto;
  margin-right: 0px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.img-right {
  float: right;
  margin-left: auto;
  margin-right: 0px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.text-p {
  border: 3px solid rgba(53, 210, 255, 1);
  height: auto;
  padding: 3px;
}

.text-right {
  float: right;
  margin-right: auto;
}

.text-left {
  float: left;
  margin-left: auto;
}

.logos-container {
  text-align: center;
}

section.logos-container {
  width: 1000px;
}

.logos-div {
  float: left;
  margin-left: auto;
  margin-right: 0px;
  display: inline-block;
}

.logos {
  display: inline-block;
  margin: 0;
  height: 150px;
}

.text-right, .text-left {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/*                         */
/*      media queries      */
/*                         */

@media screen and (max-width: 580px) {
  header {
    height: 65px;
  }
  .header-links {
    color: white;
    font-size: 2.9em;
    font-weight: 500;
  }
}

@media screen and (max-width: 540px) {
  header {
    height: 60px;
  }
  .header-links {
    color: white;
    font-size: 2.5em;
    font-weight: 500;
  }
}

@media screen and (max-width: 450px) {
  header {
    height: 50px;
  }
  .header-links {
    color: white;
    font-size: 2.2em;
    font-weight: 500;
  }
}

@media only screen and (max-width: 400px){
  header {
    height: 40px;
  }
  .header-links {
    color: white;
    font-size: 1.7em;
    font-weight: 500;
  }
}

@media only screen and (max-width: 370px){
  header {
    height: 35px;
  }
  .header-links {
    color: white;
    font-size: 1.5em;
    font-weight: 500;
  }
}

/*                  */
/*     footer       */
/*                  */

footer {
  background-color: rgba(53, 210, 255, 1);
  color: white;
  position: fixed;
  bottom: 0px;
  width: 101%;
  margin: 10px -10px 0px -10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3em;
  height: 50px
}

.social {
  position: absolute;
  bottom: -20px;
}

.social-icons {
  height: 35px;
}

#social-links-ul {
  list-style-type: none;
}

.social-links-li {
  display: inline;
}

footer a {
  color: white;
}

.farewell {
  position: absolute;
  bottom: -20px;
  right: 50px;
}
