/*                        */
/*  entire doc            */
/*  overrides shared css  */
/*                        */

body {font-family: 'Roboto', sans-serif;}

/*                  */
/*     main         */
/*                  */


.about-sec {
  position: relative;
  height: 650px;
  width: 800px;
}

.about-sec-1 {
  float: right;
}

.about-sec-3 {
  clear: both;
  background-color: blue;
}

.about-sec-2 {
  float: left;
}


/*                  */
/*     main imgs    */
/*                  */



.desk-img, .window-img {
  height: 600px;
  width: auto;
  margin: 15px;
}

.how-img {
  height: 300px;
  width: auto;
  margin: 15px;
}

.desk-img {
  float: right;
}

.window-img {
  float: left;
}

/*                  */
/*     main text    */
/*                  */

.basic-me-text {
  border: 3px solid rgba(53, 210, 255, 1);
  height: auto;
  width: 250px;
  text-align: center;
  font-size: 1.7em;
  float: left;
  position: relative;
  top: 400px;
  left: 10px;
}

.window-text {
  border: 3px solid rgba(53, 210, 255, 1);
  height: auto;
  width: 250px;
  text-align: center;
  font-size: 1.7em;
  float: right;
  position: relative;
  top: 400px;
  right: 0;
}


.how-text {
  border: 3px solid rgba(53, 210, 255, 1);
  height: auto;
  width: 500px;
  text-align: center;
  font-size: 22px;
  float: right;
  position: relative;
  left: 100px;
}

section.about-pro {
  clear: both;
}


/*                  */
/*     asides       */
/*                  */

aside.audios {
  clear: both;
}

p.invite-more-about {
  float: right;
  padding-right: 30px;
  font-size: 1.2em;
}

p.invite-more-about a {
  color: red;
}
