/* entire doc */

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
}

html {
  margin-bottom: 80px;
}

a {
  text-decoration: none;
}

/* header */

header {
  width: auto;
  height: 70px;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: rgba(53, 210, 255, 1);
  margin: -10px -10px 0 -10px;
}

.header-links {
  color: white;
  font-size: 40px;
  font-weight: 500;
}

.header-nav-li {
  display: inline;
  padding: 0px 10px;
}

.home-link {
  position: absolute;
  top: 15px;
  left: 10%;
}

.about-link {
  position: absolute;
  top: 15px;
  left: 50%;
}

.blog-link {
  position: absolute;
  top: 15px;
  left: 85%;
}

/*  main */

.desk-img, .window-img {
  height: 600px;
  width: auto;
  margin: 15px;
}

.desk-img {
  float: right;
}

.window-img {
  float: left;
}

.about-sec {
  position: relative;
  height: 650px;
  width: 800px;
}

.about-sec-1 {

  float: right;
}

.about-sec-2 {

  float: left;
}

.basic-me-text {
  border: 3px solid rgba(53, 210, 255, 1);
  height: auto;
  width: 200px;
  text-align: center;
  font-size: 25px;
  float: left;
  position: relative;
  top: 400px;
  left: 80px;
}

.window-text {
  border: 3px solid rgba(53, 210, 255, 1);
  height: auto;
  width: 200px;
  text-align: center;
  font-size: 25px;
  float: right;
  position: relative;
  top: 400px;
  right: 0;
}


/* footer */

footer {
  background-color: rgba(53, 210, 255, 1);
  color: white;
  position: fixed;
  bottom: 0px;
  width: 101%;
  margin: 10px -10px 0px -10px;
  font-family: 'Open Sans Condensed', sans-serif;
}

#social-links-ul {
  list-style-type: none;
}

.social-links-ul {
  display: inline;
}

footer a {
  color: white;
}

.farewell {
  position: absolute;
  bottom: 3px;
  right: 50px;
}
