/* ---------------------- */
/* ----- entire doc ----- */
/* ---------------------- */

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

/* ----------------------------- */
/* ------------ header  -------- */
/* ----------------------------- */

header {
  width: auto;
  height: 70px;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: rgba(53, 210, 255, 1);
  margin: -10px -10px 0 -10px;
}

.header-links {
  color: white;
  font-size: 3.2em;
  font-weight: 500;
}

.home-link {
  position: absolute;
  left: 10%;
}

.about-link {
  position: absolute;
  left: 35%;
}

.projects-link {
  position: absolute;
  left: 60%;
}

.blog-link {
  position: absolute;
  left: 85%;
}

/* ----------------------------- */
/* ------------ main  ---------- */
/* ----------------------------- */

main {
  width: 100%;
  margin: 0 auto;
}

.blog-post-ul {
  list-style-type: none;
}

.one-post-li {
  margin-bottom: 10px;
}

.post-title-link {
  display: block;
  font-size: 1.8em;
  text-indent: 10px;
  margin: 5px; 0;
}

.post-summary {
  padding-left: 40px;
}

span.bold-text {
  font-weight: bold;
}

.audios {
  padding: 5px;
}

code {
  font-weight: bold;
  color: red;
  font-size: 1.1em;
}

article {
  margin-bottom: 100px;
}

p {
  font-size: 1.1em;
}

a {
  color: blue;
}

.ioft-pic {
  float: right;
  width: 300px;
}

/*                         */
/*      media queries      */
/*                         */

@media screen and (max-width: 580px) {
  header {
    height: 65px;
  }
  .header-links {
    color: white;
    font-size: 2.9em;
    font-weight: 500;
  }
}

@media screen and (max-width: 540px) {
  header {
    height: 60px;
  }
  .header-links {
    color: white;
    font-size: 2.5em;
    font-weight: 500;
  }
}

@media screen and (max-width: 450px) {
  header {
    height: 50px;
  }
  .header-links {
    color: white;
    font-size: 2.2em;
    font-weight: 500;
  }
}

@media only screen and (max-width: 400px){
  header {
    height: 40px;
  }
  .header-links {
    color: white;
    font-size: 1.7em;
    font-weight: 500;
  }
}

@media only screen and (max-width: 370px){
  header {
    height: 35px;
  }
  .header-links {
    color: white;
    font-size: 1.5em;
    font-weight: 500;
  }
}

/*                  */
/*     footer       */
/*                  */

footer {
  background-color: rgba(53, 210, 255, 1);
  color: white;
  position: fixed;
  bottom: 0px;
  width: 101%;
  margin: 10px -10px 0px -10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3em;
  height: 50px
}

.social {
  position: absolute;
  bottom: -20px;
}

.social-icons {
  height: 35px;
}

#social-links-ul {
  list-style-type: none;
}

.social-links-li {
  display: inline;
}

footer a {
  color: white;
}

.farewell {
  position: absolute;
  bottom: -20px;
  right: 50px;
}
