/*                        */
/*  entire doc            */
/*  overrides shared css  */
/*                        */

body {font-family: 'Roboto', sans-serif;}

/* ----------------------------- */
/* ------------ main  ---------- */
/* ----------------------------- */

main {
  width: 100%;
  margin: 0 auto;
}

.blog-post-ul {
  list-style-type: none;
}

.one-post-li {
  margin-bottom: 10px;
}

.post-title-link {
  display: block;
  font-size: 1.8em;
  text-indent: 10px;
  margin: 5px; 0;
}

.post-summary {
  padding-left: 40px;
}

span.bold-text {
  font-weight: bold;
}

.audios {
  padding: 5px;
}

code {
  font-weight: bold;
  color: red;
  font-size: 1.1em;
}

article {
  margin-bottom: 100px;
}

p {
  font-size: 1.1em;
}

a {
  color: blue;
}

.ioft-pic {
  float: right;
  width: 300px;
}
