/* entire doc */

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

/* header */

header {
  width: auto;
  height: 70px;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: rgba(53, 210, 255, 1);
  margin: -10px -10px 0 -10px;
}

.header-links {
  color: white;
  font-size: 3.2em;
  font-weight: 500;
}

.header-nav-li {
  display: inline;
  padding: 0px 10px;
}

.home-link {
  position: absolute;
  left: 10%;
}

.about-link {
  position: absolute;
  left: 50%;
}

.blog-link {
  position: absolute;
  left: 85%;
}

/*  main */

main {
  width: 80%;
  margin: 0 auto;
}

.top_right_pic {
  height: 500px;
  width: auto;
  float: right;
}

/*                  */
/*     footer       */
/*                  */

footer {
  background-color: rgba(53, 210, 255, 1);
  color: white;
  position: fixed;
  bottom: 0px;
  width: 101%;
  margin: 10px -10px 0px -10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3em;
}

.social-icons {
  height: 35px;
}

#social-links-ul {
  list-style-type: none;
}

.social-links-ul {
  display: inline;
}

footer a {
  color: white;
}

.farewell {
  position: absolute;
  bottom: 3px;
  right: 50px;
}
