/* --------------------------- */
/* ------- entire page ------- */
/* --------------------------- */
body {
  background-color: rgb(255, 255, 255);
  font-family: 'Open Sans Condensed', sans-serif;
  height: 100%;
  padding-bottom: 100px;
}

html {
  height: 100%;
  margin-bottom: 90px;
}

a {
  text-decoration: none;
}

/* ---------------------- */
/* ------- header ------- */
/* ---------------------- */

header {
  width: auto;
  height: 70px;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: rgba(53, 210, 255, 1);
  margin: -10px -10px 0 -10px;
}

.header-links {
  color: white;
  font-size: 3.2em;
  font-weight: 500;
}

.header-nav-li {
  display: inline;
  padding: 0px 10px;
}

.home-link {
  position: absolute;
  left: 10%;
}

.about-link {
  position: absolute;
  left: 35%;
}

.projects-link {
  position: absolute;
  left: 60%;
}

.blog-link {
  position: absolute;
  left: 85%;
}

/* ---------------------- */
/* --------- main ------- */
/* ---------------------- */

main {
  position: relative;
  width: 90%;
  margin: 10px auto;
}

.welcome-message {
  width: 185px;
  height: 185px;
  margin: 10px;

  color: white;
  border-radius: 50%;
  text-align: center;
  display: table;
}

.welcome {
  position: absolute;
  top: 0px;
  left: 0;
  background-color: rgba(53, 210, 255, 1);
  font-size: 2em;
}

.about {
  position: absolute;
  top: 150px;
  left: 40%;
  background-color: rgba(53, 210, 255, 1);
  font-size: 1.9em;
}

.blog {
  position: absolute;
  top: 300px;
  left: 80%;
  font-size: 1.7em;
  background-color: rgba(53, 210, 255, 1);
  margin-bottom: 90px;
}

.welcome-message > h4 {
  display: table-cell;
  vertical-align: middle;
}
.sport {
  display: block;
}

/*                         */
/*      media queries      */
/*                         */

@media screen and (max-width: 1000px) {
  main {
    position: relative;
    width: 95%;
    margin: 10px auto;
  }

  .about {
    position: absolute;
    top: 150px;
    left: 37.5%;
    background-color: rgba(53, 210, 255, 1);
    font-size: 1.9em;
  }

  .blog {
    position: absolute;
    top: 300px;
    left: 75%;
    font-size: 1.7em;
    margin-bottom: 90px;
  }

}

@media screen and (max-width: 830px) {

  main {
    position: relative;
    width: 95%;
    margin: 10px auto;
  }

  .welcome-message {
    width: 175px;
    height: 175px;
    margin: 10px;

    color: white;
    border-radius: 50%;
    text-align: center;
    display: table;
  }

  .welcome {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 1.8em;
  }

  .about {
    position: absolute;
    top: 150px;
    left: 35%;
    font-size: 1.8em;
  }

  .blog {
    position: absolute;
    top: 300px;
    left: 70%;
    font-size: 1.6em;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 700px) {

  main {
    position: relative;
    width: 100%;
    margin: 10px auto;
  }

  .welcome {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 1.8em;
  }

  .about {
    position: absolute;
    top: 175px;
    left: 30%;
    font-size: 1.8em;
  }

  .blog {
    position: absolute;
    top: 350px;
    left: 60%;
    font-size: 1.6em;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 580px) {
  header {
    height: 65px;
  }
  .header-links {
    color: white;
    font-size: 2.9em;
    font-weight: 500;
  }
}

@media screen and (max-width: 540px) {
  header {
    height: 60px;
  }
  .header-links {
    color: white;
    font-size: 2.5em;
    font-weight: 500;
  }

  main {
    position: relative;
    width: 100%;
    margin: 10px auto;
  }

  .welcome {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 1.8em;
  }

  .about {
    position: absolute;
    top: 175px;
    left: 25%;
    font-size: 1.8em;
  }

  .blog {
    position: absolute;
    top: 350px;
    left: 50%;
    font-size: 1.6em;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 450px) {

  header {
    height: 50px;
  }

  .header-links {
    color: white;
    font-size: 2.2em;
    font-weight: 500;
  }

  .welcome {
    position: absolute;
    top: 0px;
    left: -20px;
    font-size: 1.8em;
  }

  .about {
    position: absolute;
    top: 175px;
    left: 15%;
    font-size: 1.8em;
  }

  .blog {
    position: absolute;
    top: 350px;
    left: 35%;
    font-size: 1.7em;
    margin-bottom: 90px;
  }


}

@media only screen and (max-width: 400px){
  header {
    height: 40px;
  }
  .header-links {
    color: white;
    font-size: 1.7em;
    font-weight: 500;
  }
}

@media only screen and (max-width: 370px){
  header {
    height: 35px;
  }
  .header-links {
    color: white;
    font-size: 1.5em;
    font-weight: 500;
  }
}

/*                  */
/*     footer       */
/*                  */

footer {
  background-color: rgba(53, 210, 255, 1);
  color: white;
  position: fixed;
  bottom: 0px;
  width: 101%;
  margin: 10px -10px 0px -10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3em;
  height: 50px
}

.social {
  position: absolute;
  bottom: -20px;
}

.social-icons {
  height: 35px;
}

#social-links-ul {
  list-style-type: none;
}

.social-links-li {
  display: inline;
}

footer a {
  color: white;
}

.farewell {
  position: absolute;
  bottom: -20px;
  right: 50px;
}
