/* entire doc */

body {
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
}

/* header */

header {
  width: auto;
  height: 70px;
  color: white;
  font-family: sans-serif;
  background-color: rgba(53, 210, 255, 1);
  margin: -10px -10px 0 -10px;
}

.header-links {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.header-nav-li {
  display: inline;
  padding: 0px 10px;
}

.about-link {
  position: fixed;
  top: 20px;
  left: 10%;

}

.home-link {
  position: fixed;
  top: 20px;
  left: 50%;
}

.blog-link {
  position: fixed;
  top: 20px;
  /*left: 85%;*/
}

/* main */

main {
  position: relative;

  width: 60%;
  margin: 10px auto;
}

.welcome-message {
  width: 150px;
  height: 150px;
  margin: 30px;

  color: white;
  border-radius: 50%;
  text-align: center;
  /*vertical-align: middle;*/
  display: table;
}

.welcome {
  position: absolute;
  top: 0px;
  left: 30%;
  background-color: rgba(53, 210, 255, 1);

}
.about {
  position: absolute;
  top: 150px;
  left: 0;
  background-color: rgba(53, 210, 255, 1);
}
.blog {
  position: absolute;
  top: 300px;
  left: 60%;
  background-color: rgba(53, 210, 255, 1);
}

.welcome-message > h4 {
  display: table-cell;
  vertical-align: middle;
}
.sport {
  display: block;
}

/* footer */

footer {
  background-color: rgba(53, 210, 255, 1);
  color: white;
  position: fixed;
  bottom: 0px;
  width: 101%;
  margin: 0px -10px;
}

#social-links-ul {
  list-style-type: none;
}

.social-links-ul {
  display: inline;
}

footer a {
  color: white;
}

.farewell {
  position: absolute;
  bottom: 3px;
  right: 15px;
}

.contact-btn {
  text-decoration: underline;
}
