/* ------------------------------------ */
/*              entire doc              */
/* ------------------------------------ */

body {font-family: 'Roboto', sans-serif;}

/* ------------------------------------ */
/*               main                   */
/* ------------------------------------ */

main {0%;
  height: auto;
  margin: 0 auto 10px auto;
}

td {
  border: 1px solid black;
}

.bake-step {
  width: 100px;
  height: auto;
}

.bake-issue {
  width: 200px;
  height: auto;
}

.git-command {
  width: 400px;
  height: auto;
}

.bake-result {
  width: 200px;
  height: auto;
}
